[
 ;; ----- Installment type -----
 {:db/id #db/id[:db.part/db]
  :db/ident :installment/uuid
  :db/valueType :db.type/uuid
  :db/cardinality :db.cardinality/one
  :db/doc "uuid"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :installment/present_value
  :db/valueType :db.type/bigdec
  :db/cardinality :db.cardinality/one
  :db/doc "present value"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :installment/number_of_installments
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc "number of installments"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :installment/monthly_interest_rate
  :db/valueType :db.type/bigdec
  :db/cardinality :db.cardinality/one
  :db/doc "monthly rate"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :installment/installment_value
  :db/valueType :db.type/bigdec
  :db/cardinality :db.cardinality/one
  :db/doc "installment value"
  :db.install/_attribute :db.part/db}
 ]